<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener | <%= pagetitle %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <main>

    <!-- //single line navigation bar with links to Home, URL List, and Records additonaly give some style, so they will be in single line -->
    <nav class="nav">
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/records">URL List</a>
    </nav>