<%- include('includes/head.ejs') %>
  
<section>
      <h2>Shorten Your URL</h2>
      <form id="shortenForm" method="post" action="/short">
        <input type="url" name="longurl" placeholder="Enter your URL here..." required>
        <button type="submit">Shorten</button>
      </form>
      <p id="successMessage" class="hidden">URL shortened successfully!</p>
    </section>

    <%- include('includes/tail.ejs') %>
