<%- include('includes/head.ejs') %>

<header>
  <h1>URL Shortener</h1>
</header>
  
<section>
      <h2>Shorten Your URL</h2>
      <form id="shortenForm" method="post" action="/short">
        <!-- <label for="longurl">Url</label> -->
        <input type="url" name="longurl" placeholder="paste URL here..." required>
        <!-- <label for="description">Notes</label> -->
        <input type="text" name="description" placeholder="Notes about URL">
        <button type="submit">Shorten</button>
      </form>
      <p id="successMessage" class="hidden">URL shortened successfully!</p>
    </section>

    <%- include('includes/tail.ejs') %>
